#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url('./images/Kyoto.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: whitesmoke;
  width: 60%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 2%;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.479);
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Noto Sans', sans-serif;
}

.button {
  height: 200px;
  width: 180px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 40%;
  }
}
